<nav class="childlist">
{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="active-class"{% endif %}>
<a href="{{ entry.url }}" title="{{ entry.title }}" alt="{{ entry.title }}">{{ entry.title }}</a>



    {% if entry.children.length %}
       <ul class='navbar-menu'>
        {% for child in entry.children %}
          {{ renderNavListItem(child) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  {%- endmacro %}
<ul class='navbar-menu'>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
<li class="search-icon"><a title="Click for search" id="myBtn" data-open="myBtn" aria-controls="myBtn" aria-haspopup="true" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2"><circle cx="11" cy="11" r="7"></circle><path stroke-linecap="round" d="m20 20l-3-3"></path></g></svg></a></li>
</ul>
</nav>

