---
layout: layouts/base.njk
section: blog
permalink: /events/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}



<h4>Club nightss</h4>
{% set postslist = collections.events %}
{% include "components/postslist.njk" %}

