{% extends "layouts/grid-default.njk" %}

{% block bodyclass %}<body class="home {{ class }} " >{% endblock %}


{% block hero %}
{% include "components/grid-home-hero.njk" %}
{% endblock %}


{% block content %}
<div class="container">
	<main class="content">
	{{ layoutContent | safe }}


<div class="resultswrapper">
    <h2>2024-25 Season Club Night Results</h2>
	{% set postslist = collections.results  | reverse | limit(3) -%} 
	{% include "components/postslist-results.njk" %}
</div>

	</main>
</div>
{% endblock %}