{% extends "layouts/grid-default.njk" %}




{% block content2 %}

<div class="container">
	<div class="content secondblock">

<div class="resultswrapper">
    <h2 class="heading-text">2024-25 Season Club Night Results</h2>
	{% set postslist = collections.results  -%} 
	{% include "components/postslist-results.njk" %}
</div>

	</div>
</div>
{% endblock %}