{% extends "layouts/grid-default.njk" %}



{% block content %}
<div class="container">
	<main class="content">
        <div class="titlebox fade-in appear">
       <h1 class="heading-text">{{ title }}</h1>
        </div>
	{{ content | safe }}

<div class="resultswrapper">
	{% set postslist = collections['News'] %} 
	{% include "components/postslist-news.njk" %}
</div>

	</main>
</div>
{% endblock %}



