{% extends "layouts/default.njk" %}

{% block bodyclass %}<body class="home {{ class }} " >{% endblock %}

{% block hero %}
{% include "components/hero-home.njk" %}
{% endblock %}

{% block content %}
<main class="content">  

{{ layoutContent | safe }}


</main>
{% endblock %}

